<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#users {
  width: 100%;
  padding: 50px 0;
  text-align: left;
}
h3 {
  background: url([[@{/images/list-bullet.png}]]) no-repeat;
        }
</style>
<head>
  <title>Admin panel</title>

</head>


<body>
<h3>Create new user</h3>
<form method="get" th:action="@{/admin-panel/save}">
  <button type="submit">Create</button>
</form>

<div id="users">
  <h3>Users list</h3>
  <table style="width: 40%">
    <thead>
    <tr>
      <th style="width: 5%">Login</th>
      <th style="width: 5%">Password</th>
      <th style="width: 5%">Name</th>
      <th style="width: 5%">Age</th>
    </tr>
    </thead>
    <tbody style="background-color: #FFA500">
    <tr th:each="user : ${users}">
      <td th:text="${user.login}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.age}"></td>

    </tr>
    </tbody>
  </table>
</div>


</body>
</html>
